<div class="w-full bg-black py-6">
  <div class="max-w-7xl flex flex-col justify-center items-center space-y-2">
    <div class="text-center text-white">Built by Alonso Ruiz</div>
    <div class="flex space-x-2 items-center">
      <img class="w-4 h-auto" src="/assets/github.png" alt="" />
      <!-- TODO: Add link to the REPO -->
      <a href="" class="text-white text-sm">Source code</a>
    </div>
    <div class="text-center text-white text-xs mb-2">Copyright &copy; 2021</div>
  </div>
</div>
