<div class="w-full text-gray-800 bg-red-500">
  <div
    class="
      px-4
      flex flex-col
      max-w-7xl
      mx-auto
      md:items-center md:justify-between md:flex-row
    "
  >
    <div class="flex flex-row items-center justify-between p-4">
      <a
        href="#"
        class="
          text-lg
          font-semibold
          tracking-widest
          text-gray-900
          uppercase
          rounded-lg
          focus:outline-none focus:shadow-outline
        "
        >Food World</a
      >
      <button
        class="
          flex
          items-center
          rounded-lg
          md:hidden
          focus:outline-none focus:shadow-outline
        "
        (click)="toggleMenu()"
      >
        <i class="material-icons" [ngClass]="{ hidden: isMenuOpen }">menu</i>
        <i class="material-icons" [ngClass]="{ hidden: !isMenuOpen }">close</i>
      </button>
    </div>
    <nav
      [ngClass]="{ hidden: !isMenuOpen }"
      class="
        flex flex-col flex-grow
        pb-4
        md:pb-0 md:flex md:justify-end md:flex-row
      "
    >
      <a class="nav-link" href="#">Menu</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
</div>
