<section class="bg-about-us-banner bg-center bg-cover h-28 md:h-48 w-full">
  <div class="h-full w-full flex justify-center items-center">
    <span class="text-5xl md:text-7xl font-bold text-white">About us</span>
  </div>
</section>

<section class="p-4 mt-8 max-w-4xl mx-auto container">
  <div class="text-center">
    <h1
      class="
        inline-block
        pb-3
        mb-10
        border-b-4 border-gray-400
        text-4xl text-center
        uppercase
        tracking-wider
      "
    >
      Our Story
    </h1>
  </div>
  <div class="flex flex-col md:flex-row md:space-x-10">
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        accusantium quo, debitis totam vitae dolorem? Itaque, ad voluptates
        ducimus maiores tempora, expedita facilis eos corrupti quibusdam labore
        vitae distinctio ea!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus rem
        excepturi fugit laudantium. Harum eaque accusamus laborum quaerat?
        Quibusdam reprehenderit ab reiciendis officiis rem velit quis dolor
        accusantium! Quaerat eveniet vero, modi tenetur dicta asperiores optio?
        Ullam aliquam molestias natus quisquam ipsam voluptatem consectetur modi
        dolorum, earum, culpa quo sunt suscipit laudantium illo cum ab commodi
        accusamus doloremque? Nobis dolorem eos tempore, incidunt iure quos
        debitis corporis amet soluta? Voluptatum et ex quos dolores quibusdam
        quisquam repudiandae tempora atque reprehenderit laborum, vero incidunt.
        Ipsa consequatur, assumenda provident voluptates, dolor nemo perferendis
        saepe iusto, blanditiis molestias magnam adipisci quasi nam beatae!
      </p>
    </div>
    <img
      src="/assets/about/description.jpg"
      alt=""
      class="w-full md:w-1/2 h-auto"
    />
  </div>
</section>
