<div class="p-4 max-w-7xl mx-auto container flex flex-col md:flex md:flex-row">
  <section class="bg-white border-none rounded-lg p-3">
    <h1
      class="
        hidden
        md:block
        p-2
        text-base
        font-semibold
        tracking-wider
        text-gray-900
        uppercase
      "
    >
      categories
    </h1>
    <nav
      class="
        flex flex-row flex-nowrap
        overflow-x-auto
        md:px-2 md:flex md:flex-col md:w-48
      "
    >
      <a href="#" class="sidebar-link">Link 1</a>
      <a href="#" class="sidebar-link">Link 2</a>
      <a href="#" class="sidebar-link">Link 3</a>
      <a href="#" class="sidebar-link">Link 4</a>
      <a href="#" class="sidebar-link">Link 5</a>
      <a href="#" class="sidebar-link">Link 6</a>
      <a href="#" class="sidebar-link">Link 7</a>
      <a href="#" class="sidebar-link">Link 8</a>
    </nav>
  </section>

  <section class="p-4">
    <h1>Menu contents go here</h1>
  </section>
</div>
