<div class="p-4 max-w-7xl mx-auto container flex flex-col md:flex md:flex-row">
  <section class="bg-white border-none rounded-lg p-3">
    <h1
      class="
        hidden
        md:block
        p-2
        text-base
        font-semibold
        tracking-wider
        text-gray-900
        uppercase
      "
    >
      categories
    </h1>
    <!-- CATEGORIES' LINKS -->
    <!-- TODO: make a carrousel with the links on a phone -->
    <nav
      class="
        flex flex-row flex-nowrap
        overflow-x-auto
        md:px-2 md:flex md:flex-col md:w-48
      "
    >
      <a href="#" class="sidebar-link">All products</a>
      <a
        *ngFor="let category of menuService.getCategories() | async"
        href="#"
        class="sidebar-link"
        >{{ category.name }}</a
      >
    </nav>
  </section>

  <section class="p-4">
    <h1>Menu contents go here</h1>
  </section>
</div>
