<div class="p-4 max-w-7xl mx-auto container flex flex-col md:flex md:flex-row">
  <section class="bg-white border-none rounded-lg p-3">
    <h1
      class="
        hidden
        md:block
        p-2
        text-base
        font-bold
        tracking-wider
        text-gray-800
        uppercase
      "
    >
      categories
    </h1>
    <!-- CATEGORIES' LINKS -->
    <!-- TODO: make a carrousel with the links on a phone -->
    <nav
      class="
        flex flex-row flex-nowrap
        overflow-x-auto
        md:px-2 md:flex md:flex-col md:w-48
      "
    >
      <a
        href="#"
        class="sidebar-link"
        [class.active]="selectedCategory == null"
        (click)="loadAllProducts()"
        >All products</a
      >
      <a
        *ngFor="let category of menuService.getCategories() | async"
        class="sidebar-link"
        [class.active]="selectedCategory == category"
        (click)="loadProductsByCategory(category)"
        >{{ category.name }}</a
      >
    </nav>
  </section>

  <section>
    <app-products-list
      [products]="(theProducts | async) || []"
    ></app-products-list>
  </section>
</div>
